<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h2>Edit Product</h2>
    <hr>
    <!--    <h2>Save Employee</h2>-->

    <form action="#" th:action="@{/save}" th:object="${product}" method="POST">
        <table border="0" cellpadding="10">
            <tr>
                <td>Product ID</td>
                <td>
                    <input type="text" th:field="*{id}" readonly = "readonly" placeholder="id" class="form-control mb-2 col-12">
                </td>
            </tr>
            <tr>
            <tr>
                <td>Product Name</td>
                <td>
                    <input type="text" th:field="*{name}" placeholder="name" class="form-control mb-2 col-12">
                </td>
            </tr>
            <tr>
                <td>Product Category</td>
                <td>
                    <input type="text" th:field="*{category}" placeholder="category" class="form-control mb-2 col-12">
                </td>
            </tr>
            <tr>
                <td>Product Price</td>
                <td>
                    <input type="text" th:field="*{price}" placeholder="price" class="form-control mb-2 col-12">
                </td>
            </tr>
            <tr>
                <td>Product Quantity</td>
                <td>
                    <input type="text" th:field="*{quantity}" placeholder="quantity" class="form-control mb-2 col-12">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-info col-12">Update Product</button>
                </td>
            </tr>
        </table>
    </form>

    <hr>

    <a th:href="@{/allProduct}"> Back to Product List</a>
</div>
</body>
</html>