<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>NfoTECH Electronics</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
<div class="container-fluid text-center">
  <div>
    <img class="img-fluid" th:src="@{/images/nfotech_electronics.png}" />
  </div>
  <form th:action="@{/logUser}" method="post" style="max-width: 350px; margin: 0 auto;" th:object="${user}">

    <div th:if="${param.error}">
      <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    </div>

    <div th:if="${Invalid}" class="alert alert-warning text-center">
      <p class="text-danger">[[${Invalid}]]</p>
    </div>
    <div th:if="${param.logout}">
      <p class="text-warning">You have been logged out.</p>
    </div>

    <div class="border border-secondary p-3 rounded">
      <p>Login to access your cart</p>
      <p>
        <label>
          <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus th:field="*{email}"/>
        </label>
      </p>
      <p>
        <label>
          <input type="password" name="password" class="form-control" placeholder="Password" required th:field="*{password}" />
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" name="remember-me" />
        </label>&nbsp;Remember Me
      </p>
      <a th:href="@{/register}">Create an account</a>
      <p>
        <input type="submit" value="Login" class="btn btn-primary" />
      </p>
    </div>
  </form>
</div>
</div>
</body>
</html>